@import './base.css';

#app {
  margin: 0.5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text-link);
  transition: 0.4s;
  padding: 3px;
}

input[type='search'] {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

input[type='search']:focus {
  outline: none;
}

button {
  padding: 0.5rem;
  margin: 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}

button.primary {
  background-color: var(--background-color-button-primary);
  color: var(--text-color-button-primary);
}

button.icon {
  background-color: transparent;
  border: none;
  width: fit-content;
  margin: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
}
